@media (min-width: 320px) and (max-width: 480px){
  body {
    background-color: rgb(247, 224, 228);
  }
  .content {
    width: 100%;
    background-color: rgb(247, 224, 228);
    margin: 65% 10% 0% 0%;
  }
  .menu {
    background-color: white;
    float: none;
    height: 26%;

  }
  
  .tittle {
    float: none;
    font-size: 3em;
  }

  #navbar-container ul li{
      float: none;
      width: 100%;
      text-align: center;
      font-size: 1.3em;
      margin: 1% 50% 1% 50%;
      padding: 0%;
  }
}